

  <section class="m_join_wrap">
    <h1>
      <a href="/">
        <img src="img/logo-nw-unscreen.gif">
      </a>
    </h1>
    <div>
      <h2>프리마켓셀러 회원가입</h2>
    </div>
    <div class="m_join">
      <div class="market_id">
        <h3 class="market_txt">
          <label for="id" id="m_id">아이디</label> 
        </h3>
        <div class="m_input">
          <input type="text" name="id" id="only">
        </div>        
      </div>
      <div class="m_pw">
        <h3 class="market_txt">
          <label for="pw" id="m_pw">비밀번호</label>
        </h3>
        <div class="m_input">
          <input type="password" name="pw" id="only">
        </div>       
      </div>
      <div class="m_pw">
        <h3 class="market_txt">
          <label for="pw" id="m_pw">비밀번호 재확인</label>
        </h3>
        <div class="m_input">
          <input type="password" name="pw" id="only">
        </div>          
      </div>
      <div class="m_name">
        <h3 class="market_txt">
          <label for="name" id="m_name">이름</label>
        </h3>
        <div class="m_input">
          <input type="text" name="name" id="only">
        </div>       
      </div>
      <div class="m_tel">
        <h3 class="market_txt">
          <label for="tel" id="m_tel">전화번호</label>
        </h3>
        <div class="m_input">
          <input type="tel" name="tel" id="only">
        </div>        
      </div>
      <div class="m_birth">
        <h3 class="market_txt">
          <label for="birth" id="m_birth">생년월일</label>
        </h3>
        <div class="m_input">
          <input type="date" name="birth" id="only">
        </div>       
      </div>
      <div class="m_food">
        <h3 class="market_txt">
          <label for="food" id="m_food">판매상품</label>
        </h3>
        <div class="m_input">
          <input type="text" name="food" id="only">
        </div>
      </div>
      <div class="m_store">
        <h3 class="market_txt">
          <label for="store" id="m_store">매대이름</label>
        </h3>
        <div class="m_input">
          <input type="text" name="store" id="only">
        </div>
      </div>
    </div>
    <div class="market_btn_wrap">
      <button id="market_btn" type="button">가입하기</button>
    </div>
  </section>
