
    <section class="sub_nav_wrap">
        <div class="x_btn"><a href="/">
            <img src="img/m_menu_close.png">
        </a></div>
        <div>
            <ul id="nav_list">
                <li><a href="introduce" class="m_first">서문야시장</a></li>
                <li><a href="#" class="m_first">먹거리·살거리</a></li>
                <li><a href="#" class="m_first">서문거리예술문화</a></li>
                <li><a href="#" class="m_first">참여마당</a></li>
                <li><a href="notice" class="m_first">고객센터</a></li>
            </ul>
        </div>                   
    </section>
