<section class="f_join_wrap">
  <h1>
    <a href="/">
      <img src="img/logo-nw-unscreen.gif">
    </a>
  </h1>
  <form name="m_join_form" action="join_ok.php" method="post">
    <div>
      <h2 id="f_join_txt">식품셀러 회원가입</h2>
    </div>
    <div class="f_join">
      <div class="food_id">
        <h3 class="f_txt">
          <label for="id" id="l_id">아이디</label>
        </h3>
        <div class="f_input">
          <input type="text" name="id" id="l_id_only">
        </div>
      </div>
      <div class="f_pw">
        <h3 class="f_txt">
          <label for="pw" id="pw">비밀번호</label>
        </h3>
        <div class="f_input">
          <input type="password" name="pw" id="pw_only">
        </div>
      </div>
      <div class="f_pw">
        <h3 class="f_txt">
          <label for="re_pw" id="re_pw">비밀번호 재확인</label>
        </h3>
        <div class="f_input">
          <input type="password" name="pw" id="re_pw_only">
        </div>
      </div>
      <div class="f_name">
        <h3 class="f_txt">
          <label for="name" id="name">이름</label>
        </h3>
        <div class="f_input">
          <input type="text" name="name" id="name_only">
        </div>
      </div>
      <div class="f_tel">
        <h3 class="f_txt">
          <label for="tel" id="tel">전화번호</label>
        </h3>
        <div class="f_input">
          <input type="tel" name="tel" id="tel_only">
        </div>
      </div>
      <div class="f_birth">
        <h3 class="f_txt">
          <label for="birth" id="birth">생년월일</label>
        </h3>
        <div class="f_input">
          <input type="date" name="birth" id="birth_only">
        </div>
      </div>
      <div class="f_food">
        <h3 class="f_txt">
          <label for="food" id="food">판매음식 및 종류</label>
        </h3>
        <div class="f_input">
          <input type="text" name="food" id="food_only">
        </div>
      </div>
      <div class="f_store">
        <h3 class="f_txt">
          <label for="store" id="store">매대이름</label>
        </h3>
        <div class="f_input">
          <input type="text" name="store" id="store_only">
        </div>
      </div>
    </div>
  </form>
  <div class="food_btn_wrap">
    <button id="food_btn" type="button" onclick="joinform_check();">가입하기</button>
  </div>
</section>