<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서문시장 야시장</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common_seomun.css">
    <link rel="stylesheet" href="css/seomun_main.css">
    <link rel="stylesheet" href="css/seomun_introduce.css">
    <link rel="stylesheet" href="css/seomun_notice.css">
    <link rel="stylesheet" href="css/seomun_notice_page.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/law.css">
    <link rel="stylesheet" href="css/food_join.css">
    <link rel="stylesheet" href="css/market_join.css">
    <link rel="stylesheet" href="css/sub_nav.css">
    <link rel="stylesheet" href="css/notice_write.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>

<body>
    <header>
        <div>
            <ul class="t_login">
                <li class="mb_right" id="login2" onclick="javascript:kakaoLogin();">로그인</li>
                <li id="logout" onclick="javascript:kakaoLogout();">로그아웃</li>
                <span> | </span>
                <li><a href="law">회원가입</a></li>
            </ul>
        </div>
        <nav>
            <div class="t_header_logo"><a href="/">
                    <img src="img/logo.png">
                </a></div>
            <div id="menu">
                <ul>
                    <li><a href="introduce">야시장소개</a>
                        <ul>
                            <li><a id="sub" href="introduce">야시장 안내</a></li>
                            <li><a id="sub" href="#">매대위치</a></li>
                        </ul>
                    </li>
                    <li><a href="#">먹거리살거리</a>
                        <ul>
                            <li><a id="sub" href="#">퓨전&글로벌</a></li>
                            <li><a id="sub" href="#">한국전통식</a></li>
                            <li><a id="sub" href="#">스트리트푸드</a></li>
                            <li><a id="sub" href="#">살거리</a></li>
                        </ul>
                    </li>
                    <li><a href="#">서문거리예술문화</a>
                        <ul>
                            <li><a id="sub" href="#">거리예술학교</a></li>
                            <li><a id="sub" href="#">행사이벤트안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">참여마당</a>
                        <ul>
                            <li><a id="sub" href="#">행사안내</a></li>
                            <li><a id="sub" href="#">현장스케치</a></li>
                            <li><a id="sub" href="#">언론보도</a></li>
                            <li><a id="sub" href="#">문의 및 제안</a></li>
                            <li><a id="sub" href="#">입점상담</a></li>
                        </ul>
                    </li>
                    <li><a href="seomun_notice">고객센터</a>
                        <ul>
                            <li><a id="sub" href="seomun_notice">공지사항</a></li>
                            <li><a id="sub" href="#">편의시설</a></li>
                            <li><a id="sub" href="#">여행정보</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div><a class="t_header_img1" href="#"></a></div>
        </nav>

        <div class="h_mobile_wrap">
            <div class="h_mobile">
                <div class="mobile-top-bar">
                    <div class="ico toggle-side-bar-btn" data-ico-now-animating="N">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="left-side-bar-box">
                    <div class="left-side-bar">
                        <div class="menu-1">
                            <ul>
                                <li>
                                    <a href="#" id="black">야시장 소개</ㅁid=>
                                        <ul>
                                            <li>
                                                <a id="black" href="introduce">야시장안내</a>
                                                <a id="black" href="#">매대위치</a>
                                            </li>
                                        </ul>
                                </li>
                                <li>
                                    <a id="black" href="#">먹거리살거리</a>
                                    <ul>
                                        <li>
                                            <a id="black" href="#">퓨전&글로벌</a>
                                            <a id="black" href="#">한국전통식</a>
                                            <a id="black" href="#">스트리트푸드</a>
                                            <a id="black" href="#">살거리</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="black" href="#">서문거리예술문화</a>
                                    <ul>
                                        <li>
                                            <a id="black" href="#">거리예술학교</a>
                                            <a id="black" href="#">행사이벤트안내</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="black" href="#">참여마당</a>
                                    <ul>
                                        <li>
                                            <a id="black" href="#">행사안내</a>
                                            <a id="black" href="#">현장스케치</a>
                                            <a id="black" href="#">언론보도</a>
                                            <a id="black" href="#">문의 및 제안</a>
                                            <a id="black" href="#">입점신청</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="black" href="#">고객센터</a>
                                    <ul>
                                        <li>
                                            <a id="black" href="seomun_notice">공지사항</a>
                                            <a id="black" href="#">편의시설</a>
                                            <a id="black" href="#">여행정보</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div>
                                <ul class="mb_login_wrap">
                                    <li class="mb_login"><a href="login">로그인</a></li>
                                    <li class="mb_login"><span>|</span></li>
                                    <li class="mb_login"><a href="law">회원가입</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h_mobile_img"><a href="/">
                        <img src="img/logo.png">
                    </a></div>
                <div class="m_search_img"><a href="#">
                        <img src="img/m_search.png">
                    </a></div>
            </div>
        </div>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <div class="footer_wrap w1440">
            <div class="footer_l"></div>
            <div class="footer_r">
                <div class="footer_sns_wrap">
                    <ul class="footer_sns">
                        <li><a href="#">
                                <img src="img/insta.png">
                            </a></li>
                        <li><a href="https://blog.naver.com/nightseomun">
                                <img src="img/naver.png">
                            </a></li>
                        <li><a href="https://www.facebook.com/nightseomun/">
                                <img src="img/fb.png">
                            </a></li>
                    </ul>
                </div>
                <div class="footer_txt">
                    <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀</p>
                    <p>Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
                </div>
            </div>
        </div>
        <div class="m_footer_wrap">
            <div class="m_footer">
                <ul class="m_footer_sns">
                    <li><a href="#">
                            <img src="img/insta.png">
                        </a></li>
                    <li><a href="https://blog.naver.com/nightseomun">
                            <img src="img/naver.png">
                        </a></li>
                    <li><a href="https://www.facebook.com/nightseomun/">
                            <img src="img/fb.png">
                        </a></li>
                </ul>
            </div>
            <div class="m_footer_txt">
                <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀</p>
                <p>Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/animation.js"></script>
    <script src="js/kakao.js"></script>
</body>

</html>