
    <section class="s_login">
        <h1>
            <a href="#">
                <img src="img/logo-nw-unscreen.gif">
            </a>
        </h1>
        <form class="login_wrap">
            <div class="tg">
                <div class="s_btn_wrap">
                    <select class="s_btn">
                        <option value="food">식품셀러</option>
                        <option value="market">프리마켓셀러</option>
                    </select>
                </div>
                <div class="login">
                    <input type="text" placeholder="아이디" name="id" id="id" autocomplete="off" required>
                </div>
                <div class="login">
                    <input type="password" placeholder="비밀번호" name="pw" id="pw" autocomplete="off" required>
                </div>
                <div class="login_txt">
                    <a href="#">아이디,비밀번호 찾기</a>
                    <span>|</span>
                    <a href="law">회원가입</a>
                </div>
                <div class="btn_wrap">
                    <button id="btn" type="submit">LOGIN</button>
                </div>
            </div>
        </form>
    </section>
