
    <div class="main_m_header"></div>
    <div class="mb_main_header"></div>
   
    <main class="w1440">
        <section class="sm_menu_wrap">
           <div class="sm_video">
             <iframe src="https://www.youtube.com/embed/WF9vYJ52syk?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="yellowbox"><a href="#">먹거리</a></div>
        </section>
        
        <section class="main_sm_notice_wrap">
            <div class="main_sm_notice">
                <div class="top">
                    <p>공지사항</p>
                    <p><a href="#">더보기</a></p>
                </div>
                <ul>
                    <li><a href="#">2022 야시장 매대 운영자 모집 품평회 심사 대상 명단 공지 첨부파일</a></li>
                    <li><a href="#">2021 야시장 2차 매대 운영자 모집 품평회 심사 대상자 및 공고</a></li>
                    <li><a href="#">2021년 2차 야시장 매대운영자 모집 연장</a></li>
                    <li><a href="#">서문야시장 정기휴무일 변경안내</a></li>
                </ul>
            </div>
            <div class="main_box">
                <div class="customer"><a href="seomun_notice">고객센터</a></div>
                <div class="road"><a href="introduce">오시는길</a></div>  
            </div>      
        </section>
        
        <section class="sm_event_wrap">
            <div class="sm_event_img1"><a href="#"></a></div>
            <div class="sm_event_img2"><a href="#"></a></div>
        </section>
        
        <section>
            <div class="sm_gallery_title">
                <h2>생생 라이브 야시장 갤러리</h2>
                <h3>SEOMUN NIGHT MARKET GALLERY</h3>
            </div>
            <div class="sm_gallery">
                <div><a class="img1" href="#"></a></div>
                <div><a class="img2" href="#"></a></div>
                <div><a class="img3" href="#"></a></div>
                <div><a class="img4" href="#"></a></div>
                <div><a class="img5" href="#"></a></div>
            </div>
        </section>
    </main>
 