<div class="int_header">
  <div class="into_m_img"></div>
  <!--웹용 헤더사진-->
  <div class="mb_main_header1"></div>
  <!--모바일용 헤더사진-->
</div>
<nav class="l_header_wrap1">
  <ul class="l_header1">
    <li><a href="#">야시장소개</a></li>
    <li><a href="#">매대위치</a></li>
  </ul>
</nav>


<div class="i_w1440">
  <div class="m_box1">
    <div>
      <h2 class="m_title1" id="x">서문시장 역사</h2>
    </div>
    <div class="HISTORY">
      <div class="m_img_wrap">
        <div class="m_img"></div>
      </div>
      <div class="history_wrap">
        <div class="m_txt">
          <p class="txt p_txt"><span class="purple">서문시장</span>은 조선 중기 “대구장”으로 처음 형성된 조선시대 전국 3대 장터 중 한 곳이었습니다.</p>

          <P class="txt">원래는 대구 읍성 북문 밖에 자리 잡은 소규모의 장에 불과했지만 임진왜란과 정유재란을 겪으며 물자 조달의 필요성에 의해 대규모 시장으로 발달했습니다.</P>

          <p class="txt">1669년 현종 10년에는 낙동강을 경계로 분리되었던 경상도가 통합되며 행정권을 형성하며 경제적으로 부상됨에 따라 대구장에서 거래량이 급등하여 동산파출소 위치로 이동하게
            되었습니다.</p>

          <p class="txt">당시 대구시장(동문시장)과 함께 도내 각지를 연결하는 중심지가 되었고,칠곡읍내장과 대구읍내장(서문시장)을 중심으로 완전한 시장망이 형성되었습니다.
            1920년 대구시가지가 확장되면서 지금의 자리로 옮겼고 <span>서문시장</span>이라 불리게 되었습니다.</p>
        </div>
      </div>
      <div class="history_img_wrap">
        <div class="history_img"></div>
      </div>
    </div>
  </div>

  <section class="m_box2">
    <div class="introduce_title">
      <h2 id="x">야시장 소개</h2>
    </div>
    <div>
      <div class="txt_wrap">
        <div class="m_img_wrap">
          <div class="m_img2"></div>
        </div>
        <div class="left_txt">
          <p class="txt1"><span class="purple">서문시장</span>은 국내 3대 명품시장이며 경상권 최대 시장으로써 주단이나 포목 등의 섬유 제품과 더불어 다양한 먹을거리로
            유명한 전통시장입니다.</p>
          <p class="txt1">현재, 약 5,522여 개의 점포와 3만여명의 상인들이 상주하고 있으며 포목, 직물, 의류 등 섬유관련 품목들과 청과물, 건해삼물, 신발 등 생활에 필요한 모든 것들이
            있을 정도로 대규모 상권으로 운영되고 있으며 득히 직물과 섬유관련 제품은 전국에서도 알아주는 유명한 상품들이 많이 있습니다.</p>
          <p class="txt1">경상권 지역민의 생활을 책임지는 최대 규모의 전통시장임과 동시에 국내,외 어디에서도 볼 수 없는 <span class="purple">‘한국인의 생활상’</span>을
            엿볼 수 있는 핫플레이스입니다. 인근에는 동성로 다운타운, 김광석 거리, 근대역사골목 등 가볼만한 곳이 풍부한 관광의 중심지이기도 합니다.</p>
        </div>
        <div class="right_img_wrap">
          <div class="right_img"></div>
        </div>
      </div>
      <div class="txt_wrap2">
        <div class="m_img_wrap">
          <div class="m_img3"></div>
        </div>
        <div class="left_img_wrap">
          <div class="left_img"></div>
        </div>
        <div class="right_txt">
          <h2 class="s_title">여러분과 함께 만들어가는 <span class="purple">夜한 테마파크!</span></h2>
          <p class="txt2 top">서문시장 야시장은 2016년 6월에 개장한, 총거리 350m에 달하는 야시장입니다. </p>
          <p class="txt2">우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 총 80대의 매대에서 다양한 먹거리, 살거리를판매하며 </p>
          <p class="txt2">매일 저녁, 시민과 관광객에게 즐거움을 선사하는 복합문화공간입니다. </p>
          <p class="txt2">특히, 먹거리 일색인 타 야시장과는 달리 먹거리, 볼거리, 즐길거리의 3대</p>
          <p class="txt2">요소가 연중으로 펼쳐지는 마법 같은 관광지이기도 합니다.</p>
        </div>
      </div>
      <div class="txt_wrap3">
        <div class="m_img_wrap">
          <div class="m_img4"></div>
        </div>
        <div class="left_txt2">
          <h2 class="s_title2">전 세계인과 함께하는, <span class="purple">대한민국 대표 야시장</span> ‘서문시장 야시장'</h2>
          <div class="m_txt">
            <p class="txt3">서문시장 야시장은 2016년 6월에 개장한,</p>
            <p class="txt3">총거리 350M에 달하는 대형 야시장입니다.</p>
            <p class="txt3">우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여</p>
            <p class="txt3">총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며</p>
            <p class="txt3">매일 저녁, 시민과 관광객에게 즐거움을 선사하는</p>
            <p class="txt3">복합문화공간입니다. 특히, 먹거리 일색인 타 야시장과는 달리</p>
            <p class="txt3">먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는</p>
            <p class="txt3">마법같은 관광지이기도 합니다.</p>
          </div>
        </div>
        <div class="right_img2_wrap">
          <div class="right_img2"></div>
        </div>
      </div>
  </section>

  <section class="m_box3">
    <div>
      <h2 id="x">오시는 길</h2>
    </div>
    <div>
      <div class="txt_wrap4">
        <div class="map_img_wrap">
          <div class="map_img">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d413849.9225195179!2d128.30010973281247!3d35.8685536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e376c08aad43%3A0xdd7958b01f8ee3e!2z7ISc66y47Iuc7J6lIOyVvOyLnOyepQ!5e0!3m2!1sko!2skr!4v1650856205694!5m2!1sko!2skr"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="b_txt">
          <div class="bus">
            <div class="Title">
              <span class="bus_icon"></span>
              <span class="bus_txt">버스</span>
            </div>
            <div class="Txt_wrap">
              <div class="Txt">큰장네거리4</div>
              <div class="Txt">동산의료원앞2</div>
              <div class="Txt">서문시장5지구앞</div>
              <div class="Txt">동산의료원앞1</div>
              <div class="Txt">서문시장</div>
              <div class="Txt">큰장네거리2</div>
            </div>
          </div>
          <div class="metro">
            <div class="Title">
              <span class="metro_icon"></span>
              <span class="metro_txt">지하철</span>
            </div>
            <div class="Txt1_wrap">
              <div class="Txt1">대구 3호선 서문시장역</div>
              <div class="Txt1">대구 2호선 서남역</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m_box4">
    <div>
      <h2 id="x">영업 및 휴일</h2>
    </div>
    <div class="holiday_img_wrap">
      <div class="holiday_img"></div>
    </div>
  </section>

  <section class="m_box5">
    <div class="contact_wrap">
      <h2 id="x">CONTACT</h2>
    </div>
    <div class="contact">
      <div class="call">
        <span class="phone_img"></span>
        <span class="phone_number"><a href="#">TEL. 053-256-6341</a></span>
      </div>
      <div class="sns_wrap">
        <ul class="sns">
          <li class="insta"><a href="#"></a></li>
          <li class="naver"><a href="https://blog.naver.com/nightseomun"></a></li>
          <li class="facebook"><a href="https://www.facebook.com/nightseomun/"></a></li>
        </ul>
      </div>
    </div>


  </section>
  </main>