* {
    font-family: 'Noto Sans KR', sans-serif !important;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #ededed;
}

.w1100 {
    width: 1100px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
}

.w1440 {
    width: 1440px;
    margin: auto;
    padding-top: 100px;
}



/************************header************************/

header {
    width: 100%;
    background-color: #07072d;
    margin: auto;
}

.t_login {
    width: 1440px;
    margin: auto;
    text-align: right;
    display: flex;
    justify-content: end;
    padding: 10px 0;
    box-sizing: border-box;
}

.t_login>li {
    font-size: 14px;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
}

.t_login span {
    font-size: 14px;
    color: #fff;
}

.t_login>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

#logout {
    margin-left: 5px;
}

#login2>a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#join {
    margin-left: 5px;
}

#join>a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

nav {
    width: 1440px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin: auto;
}

.t_header_logo {
    width: 300px;
}

.t_header_logo img {
    width: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

#menu {
    color: black;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
}

#menu>ul>li {
    float: left;
    position: relative;
    padding: 0 50px;
}

#menu>ul>li>ul {
    width: 130px;
    display: none;
    position: absolute;
    font-size: 14px;
    background: #f2d01f;
    z-index: 9999;
    text-align: center;
    left: 20%;
}

#menu #sub {
    color: #07072d;
    font-size: 16px;
}

#menu>ul>li:hover>ul {
    display: block;
}

#menu>ul>li>ul>li:hover {
    background: orange;
    transition: ease 1s;
}


nav>div:last-child {
    width: 70px;
    height: 70px;
    background-color: #f2d01f;
}

.t_header_img1 {
    width: 100%;
    display: block;
    height: 100%;
    background-image: url(../img/search_icon.png);
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}

.header_wrap {
    width: 100%;
}

.l_header_wrap {
    width: 100%;
    margin: auto;
}

.l_header {
    display: flex;
    line-height: 60px;
    width: 100%;
}

.l_header>li {
    width: 33.333%;
    background-color: #07072d;
    text-align: center;
}

.l_header>li>a {
    color: #f2d01f;
    font-weight: bold;
    font-size: 18px;
}

.l_header>li:nth-child(1) {
    background-color: #f2d01f;
}

.l_header>li:nth-child(1)>a {
    color: #000;
}


.l_header1 {
    display: flex;
    line-height: 60px;
    width: 100%;
}

.l_header1>li {
    width: 50%;
    background-color: #07072d;
    text-align: center;
}

.l_header1>li>a {
    font-size: 18px;
    font-weight: bold;
    color: #f2d01f;
}

.l_header1>li:first-child {
    background-color: #f2d01f;
}

.l_header1>li:first-child>a {
    color: #000;
}

.h_mobile_wrap {
    display: none;
    width: 768px;
    background: #07072d;
    display: none;
    position: relative;
}

.mb_t_login {
    display: none;
    text-align: right;
    margin-bottom: 10px;
}

.mb_t_login>a {
    font-size: 12px;
    color: #f2d01f;
    margin: 0 3px;
}

.mb_t_login span {
    color: gray;
}

.h_mobile {
    position: relative;
}

.m_hambuger img {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    top: 10%;
}

.h_mobile_img {
    text-align: center;

}

.h_mobile_img img {
    width: 200px;
    height: 60px;
    margin: auto;
}

.m_search_img img {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    right: 0;
    bottom: -5px;
}

.mb_main_header {
    display: none;
    width: 768px;
    height: 300px;
    background-image: url(../img/seomun2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mb_login_wrap {
    display: flex;
    margin-left: 15px;
}

.mb_login_wrap>.mb_login {
    font-size: 14px;
    color: #fff;

}

.mb_login_wrap>.mb_login {
    padding: 0;
}

.mb_login_wrap>.mb_login>a {
    font-size: 14px;
    padding: 0;
}

.mb_login_wrap>.mb_login>span {
    font-size: 14px;
    color: #fff;
}





/**********************footer*******************************/
footer {
    background-color: #575757;
    margin: auto;
    padding-bottom: 20px;

}

.footer_wrap {
    height: 300px;
    display: flex;
    padding-top: 0;
}

.footer_l {
    width: 40%;
    height: 100%;
    background-image: url(../img/logo.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.footer_r {
    width: 60%;
    height: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}

.footer_sns_wrap {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.footer_r>div {
    width: 100%;
    height: 50%;
}

.footer_sns {
    display: flex;
    float: right;
}

.footer_sns>li>a {
    display: block;
}

.footer_sns>li>a>img {
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.footer_txt {
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14;
}

.m_footer_wrap {
    display: none;
    width: 768px;
    background-color: #575757;
}

.m_footer_sns {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 50px 0 40px 0;
}

.m_footer_sns>li {
    margin-right: 20px;
}

.m_footer_sns>li>a {
    display: block;
}

.m_footer_sns>li>a>img {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

.m_footer_txt {
    padding-top: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
}

.m_footer_wrap {
    display: none;
}

.topMenu {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    height: 40px;
}

.topMenu::after {
    content: "";
    display: block;
    clear: both;
}

.menu-1>ul,
li {
    padding: 5px 10px;
    margin: 0;
    list-style: none;
}

.menu-1 #black {
    color: #f2d01f;
}

/* 노말라이즈 끝 */

/* 라이브러리 */
/* 상단바 */
.mobile-top-bar {
    background-color: black;
    position: absolute;
    bottom: 25px;
    left: 10px;
    width: 100%;
    z-index: 99999;
}

.mobile-top-bar>.logo {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

/* 토글 사이드바 버튼 아이콘 */
.ico {
    position: fixed;
    left: 20px;
    width: 20px;
    height: 20px;
    transform: translatey(-50%);
    cursor: pointer;
}

.ico>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: white;
}

.ico>div:nth-child(2) {
    top: 40%;
    transition: visibility 0s .15s;
}

.ico.active>div:nth-child(2) {
    visibility: hidden;
    transition: visibility 0s;
}

.ico>div:nth-child(3) {
    top: 80%;
}

.ico>div:nth-child(1),
.ico>div:nth-child(3) {
    transition: top .15s .15s, transform .15s;
}

.ico.active>div:nth-child(1),
.ico.active>div:nth-child(3) {
    top: 40%;
    transform: rotate(45deg);
    transition: top .15s, transform .15s .15s;
}

.ico.active>div:nth-child(3) {
    transform: rotate(-45deg);
}

/* 커스텀 */
/* 좌측 사이드 바 */
/* 좌측 사이드바 배경 */
.left-side-bar-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: visibility .5s, background-color .5s;
    z-index: 9999;
}

.left-side-bar-box.active {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
}

/* 좌측 사이드바 */
.left-side-bar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #07072d;
    padding-top: 100px;
    transition: left .5s;
}

.left-side-bar-box.active>.left-side-bar {
    left: 0;
}

.left-side-bar>.menu-1 ul>li>a {
    display: block;
    padding: 5px;
}

.left-side-bar>.menu-1>ul ul {
    display: none;
    background-color: #000;
}

.left-side-bar>.menu-1>ul ul ul {
    background-color: #dfdfdf;
}

.left-side-bar>.menu-1 ul>li.active>ul {
    display: block;
}


.nope {
    padding: 0;
}

@media screen and (max-width: 1200px) {

    .t_login {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    #menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    #menu>ul>li {
        padding: 0;
    }

    #menu>ul>li>ul {
        left: 10%;
    }

    #menu>ul>li>a {
        margin: 0 30px;
        font-size: 18px;
    }

    .t_header_logo {
        width: 250px;
    }

    .t_header_logo>img {
        width: 100%;
    }

    .t_header {
        width: calc(100% - 270px);
        display: flex;
        text-align: center;
    }

    nav>div:last-child {
        width: 70px;
        height: 70px;
    }

    .t_header>li {
        width: 100%;
    }

    .t_header a {
        font-size: 16px;
    }

    .t_header_img img {
        width: 200px;
    }

    .t_header_img1 {
        width: 100%;
        background-size: 20%;
    }

    main {
        width: 100%;
    }

    .t_login {
        display: none;
    }








    /*max-width: 1200px*/
}




@media screen and (max-width: 1000px) {


    .h_mobile_wrap {
        display: block;
        width: 100%;
    }

    .t_header a {
        font-size: 15px;
        margin-right: 40px;
        line-height: 60px;
    }

    nav>div:last-child {
        width: 60px;
        height: 60px;
    }


    .footer_wrap {
        width: 100%;
    }

    .footer_txt {
        font-size: 15px;
        padding-top: 20px;
    }

    .into_m_img {
        width: 100%;
    }

    .footer_l {
        background-size: 60% auto;
    }

    .contents {
        width: 100%;
    }

    .m_header {
        display: none;
    }

    .mb_join {
        display: none;
    }








    /*max-width: 1000px*/
}






@media screen and (max-width: 768px) {

    .m_none {
        display: none;
    }

    .h_mobile_wrap {
        display: block;
        width: 100%;
    }

    .m_hambuger {
        top: 30px;
    }

    .m_search_img {
        width: 60px;
        top: 35px;
    }

    .m_footer_wrap {
        display: block;
    }

    footer {
        width: 100%;
    }

    .footer_wrap {
        display: none;
    }

    .m_main_header {
        display: block;
    }

    .main_m_header {
        display: none;
    }

    .l_header_wrap {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #ccc;
        margin: 0;
    }

    .l_header1>li>a {
        font-size: 13px;
        font-weight: bold;
        line-height: 40px;
        white-space: nowrap;
    }

    .mb_l_header_wrap {
        display: block;
    }

    .m_footer_wrap {
        width: 100%;
    }

    nav {
        display: none;
    }

    .h_mobile_img img {
        display: block;
    }

    .mb_main_header {
        display: block;
        width: 100%;
    }

    .t_login {
        display: none;
    }












    /*max-width: 768px*/
}