.into_m_img {
  width: 100%;
  height: 300px;
  margin: auto;
  background-image: url(../img/jeonkyeong1_.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mb_main_header1 {
  display: none;
  width: 768px;
  height: 200px;
  background-image: url(../img/jeonkyeong1_.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.l_header_wrap1 {
  width: 100%;
  margin: auto;
  background-color: #07072d;
}




/************************main page*****************************/

.i_w1440 {
  width: 1440px;
  margin: auto;
}

.m_box1 {
  width: 100%;
  margin-top: 100px;
}

.HISTORY {
  width: 100%;
  display: flex;
}

.m_img_wrap>.m_img {
  display: none;
}

.history_wrap {
  width: 60%;
}

.m_txt {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 0 20px;
}

.m_txt>.txt {
  padding: 40px 0 0 10px;
}

.purple {
  color: #6600cc;
}

.history_img_wrap {
  width: 40%;
  margin-top: 20px;
}

.history_img {
  background-image: url(../img/seomun7.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 66.562%;

}

.introduce_title {
  background-color: #141e32;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  margin-top: 100px;
  color: #f2d01f;
}

.m_img_wrap>.m_img2 {
  display: none;
}

.txt_wrap {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left_txt {
  width: 70%;
  padding: 15px 20px 0 0;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}

.txt1 {
  padding: 5px 0;
  box-sizing: border-box;
}

.right_img_wrap {
  width: 40%;
  margin-top: 20px;
}

.right_img {
  width: 100%;
  background-image: url(../img/seomun5.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 56.33%;
  box-sizing: border-box;
}

.txt_wrap2 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.m_img_wrap>.m_img3 {
  display: none;
}

.left_img_wrap {
  width: 40%;
}

.left_img {
  width: 100%;
  background-image: url(../img/food.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 66.66%;
}

.right_txt {
  width: 60%;
}

.s_title {
  font-size: 19px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.txt2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 10px 0;
}

.txt_wrap3 {
  width: 100%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.m_img_wrap>.m_img4 {
  display: none;
}

.left_txt2 {
  width: 50%;
}

.s_title2 {
  font-size: 19px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.txt3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 10px 0;
}

.right_img2_wrap {
  width: 50%;
}

.right_img2 {
  width: 100%;
  background-image: url(../img/seomun4.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51%;
}


.m_box3 h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #141e32;
  line-height: 70px;
  margin-top: 100px;
  color: #ffe100;
}

.txt_wrap4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.map_img_wrap {
  width: 70%;
  margin: auto;
  padding-top: 15px;
}

.map_img_wrap iframe {
  width: 100%;
  height: 450px;
}

.b_txt {
  width: 100%;
  display: flex;
  margin: auto;
}

.bus {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.bus_icon {
  width: 50px;
  height: 50px;
  background-image: url(../img/bus.png);
  background-repeat: no-repeat;
  padding-right: 25px;
  background-size: cover;
}

.Title>.bus_txt {
  padding-left: 10px;
}

.Title>.metro_txt {
  padding-left: 10px;
}

.Title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #000;
  padding-bottom: 20px;
}

.Txt,
.Txt1 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.Txt {
  padding-left: 30px;
}

.Txt1 {
  padding-left: 30px;
}

.metro {
  width: 50%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.metro_icon {
  width: 50px;
  height: 50px;
  background-image: url(../img/subway.png);
  background-repeat: no-repeat;
  padding-right: 20px;
  background-size: cover;
}

.m_box4>div>h2 {
  color: #ffe100;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #141e32;
  line-height: 70px;
  margin-top: 100px;
}

.holiday_img_wrap {
  width: 100%;
  margin: auto;
}

.holiday_img {
  width: 50%;
  height: 330px;
  margin: auto;
  background-image: url(../img/time.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.m_box5 {
  padding: 50px 0;
}

.contact_wrap {
  font-size: 19px;
  font-weight: bold;
  color: #ffe100;
  background-color: #141e32;
  line-height: 70px;
  text-align: center;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.phone_img {
  width: 40px;
  height: 40px;
  background-image: url(../img/Untitled-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}


.phone_number>a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
}

.phone_number>a:hover {
  text-decoration: underline;
}

.sns_wrap {
  width: 50%;
}

.sns {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.sns>li>a {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #f4f4ef;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin-right: 15px;
  background-size: 100% auto;
}

.insta>a {
  background-image: url(../img/insta.png);
}

.naver>a {
  background-image: url(../img/naver.png);
}

.facebook>a {
  background-image: url(../img/fb.png);
}

#x {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #141e32;
  line-height: 70px;
  color: #ffe100;
  margin-bottom: 0;
}



/********************************************/




@media screen and (max-width: 1200px) {






  /*max-width: 1200px*/
}





@media screen and (max-width: 1000px) {

  .i_w1440 {
    width: 100%;
  }

  .m_title1 {
    font-size: 19px;
  }

  .m_txt {
    font-size: 15px;
  }

  .history_img {
    white-space: nowrap;
  }

  .introduce_title {
    font-size: 19px;
  }

  .left_txt {
    font-size: 15px;
    width: 60%;
    padding: 15px 20px;

  }

  .right_txt {
    font-size: 15px;
    margin-left: 15px;
    padding: 0;
  }

  .left_txt2 {
    font-size: 15px;
  }

  .m_box3 h2 {
    font-size: 19px;
  }

  .Title {
    font-size: 19px;
  }

  .Txt,
  .Txt1 {
    font-size: 17px;
  }

  .into_m_img {
    width: 1000px;
  }

  .s_title {
    font-size: 17px;
  }

  .txt2 {
    font-size: 15px;
  }

  .s_title2 {
    font-size: 17px;
  }

  .txt3 {
    font-size: 15px;
  }

  .map_img_wrap iframe {
    width: 100%;
  }

  .HISTORY {
    width: 100%;
  }

  .history_wrap {
    width: 50%;
  }

  .history_img_wrap {
    width: 50%;
  }

  .m_txt>.txt {
    padding: 20px 0 0 10px;
  }

  .txt_wrap {
    width: 100%;
  }

  .right_img {
    width: 100%;
  }

  .txt_wrap2 {
    width: 100%;
  }

  .txt_wrap3 {
    width: 100%;
  }






  /*max-width: 1000px*/
}







@media screen and (max-width: 768px) {

  .i_w1440 {
    width: 100%;
  }

  .m_title1 {
    font-size: 16px;
  }

  .m_txt {
    font-size: 14px;
  }

  .HISTORY {
    display: flex;
    flex-wrap: wrap;
  }

  .m_img_wrap {
    display: block;
    width: 100%;
  }

  .m_img_wrap>.m_img {
    width: calc(100% - 20px);
    display: block;
    background-image: url(../img/seomun7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 66.562%;
    margin: 10px;
    box-sizing: border-box;
  }

  .history_wrap {
    width: 100%;
  }

  .history_img_wrap {
    display: none;
  }

  .introduce_title {
    font-size: 18px;
  }

  .right_img {
    display: none;
  }

  .txt_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .m_img_wrap>.m_img2 {
    width: calc(100% - 20px);
    display: block;
    background-image: url(../img/seomun5.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 56.333%;
    margin: 10px;
    box-sizing: border-box;
    background-size: 100% auto;
  }

  .left_txt {
    width: 100%;
    text-align: center;
  }

  .txt_wrap2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .right_txt {
    width: 100%;
  }

  .right_img_wrap {
    display: none;
  }

  .m_img_wrap>.m_img3 {
    width: calc(100% - 20px);
    display: block;
    background-image: url(../img/food.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 66.666%;
    margin: 10px;
    box-sizing: border-box;
    background-size: 100% auto;
  }

  .left_img_wrap {
    display: none;
  }

  .left_img {
    display: none;
  }

  .top {
    margin-top: 15px;
  }

  .txt_wrap3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }

  .m_txt {
    font-size: 14px;
  }

  .m_img_wrap>.m_img4 {
    width: calc(100% - 20px);
    display: block;
    background-image: url(../img/seomun4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 51%;
    margin: 10px;
    box-sizing: border-box;
    background-size: 100% auto;
  }

  .left_txt2 {
    width: 100%;
  }

  .right_img2_wrap {
    display: none;
  }

  .right_img2 {
    display: none;
  }


  .m_box3 h2 {
    font-size: 18px;
  }

  .map_img_wrap {
    width: 100%;
  }

  .bus_icon {
    width: 35px;
    height: 35px;
  }


  .bus_txt {
    font-size: 18px;
  }

  .Txt,
  .Txt1 {
    font-size: 16px;
  }

  .metro_icon {
    width: 35px;
    height: 35px;
  }

  .metro_txt {
    font-size: 18px;
  }

  .m_box4>div>h2 {
    font-size: 18px;
  }

  .holiday_img {
    width: 70%;
  }

  .contact_wrap {
    font-size: 18px;
  }

  .phone_img {
    width: 30px;
    height: 30px;
  }

  .sns>li>a {
    width: 30px;
    height: 30px;
  }

  .into_m_img {
    display: none;
  }

  .m_main_header1 {
    display: block;
  }

  .l_header_wrap1 {
    display: block;
    width: 100%;
    background-color: #ededed;
  }

  .l_header1 {
    line-height: 40px;
  }


  .mb_main_header1 {
    display: block;
  }






  /*max-width: 768px*/


}